<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assets</key>
	<dict>
		<key>X1TitleViewHeight</key>
		<integer>30</integer>
		<key>A11</key>
		<dict>
			<key>A11TopConstraint</key>
			<integer>15</integer>
			<key>A11LeftConstraint</key>
			<integer>15</integer>
			<key>A11RightConstraint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>colors</key>
	<array>
		<dict>
			<key>R</key>
			<integer>1</integer>
			<key>G</key>
			<real>0.91</real>
			<key>B</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>R</key>
			<real>0.6</real>
			<key>G</key>
			<real>0.87</real>
			<key>B</key>
			<real>0.76</real>
		</dict>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<real>0.52</real>
			<key>B</key>
			<real>0.79</real>
		</dict>
		<dict>
			<key>R</key>
			<real>0.47</real>
			<key>G</key>
			<real>0.35</real>
			<key>B</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<real>0.73</real>
			<key>B</key>
			<real>0.43</real>
		</dict>
		<dict>
			<key>R</key>
			<real>0.73</real>
			<key>G</key>
			<real>0.12</real>
			<key>B</key>
			<real>0.06</real>
		</dict>
		<dict>
			<key>R</key>
			<real>0.89</real>
			<key>G</key>
			<real>0.32</real>
			<key>B</key>
			<real>0.02</real>
		</dict>
		<dict>
			<key>R</key>
			<real>0.15</real>
			<key>G</key>
			<real>0.79</real>
			<key>B</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>R</key>
			<real>0.46</real>
			<key>G</key>
			<real>0.36</real>
			<key>B</key>
			<real>0.66</real>
		</dict>
		<dict>
			<key>R</key>
			<real>0.2</real>
			<key>G</key>
			<real>0.2</real>
			<key>B</key>
			<real>0.2</real>
		</dict>
		<dict>
			<key>R</key>
			<integer>1</integer>
			<key>G</key>
			<real>0.2</real>
			<key>B</key>
			<real>0.2</real>
		</dict>
	</array>
</dict>
</plist>
